PORT=3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/theke
CLERK_SECRET_KEY=sk_test_example
CLERK_PUBLISHABLE_KEY=pk_test_example
CLERK_JWT_KEY=-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----
CLERK_AUTHORIZED_PARTIES=http://localhost:5173
CLERK_WEBHOOK_SIGNING_SECRET=whsec_example
WEB_ORIGINS=http://localhost:5173
